.categories{
    margin-top: 4em;
    background-image: linear-gradient(to bottom, #EEE9DA, #FFFFFF)
}

/* .first{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:3em 10em;
}

.second{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3em 10em;
} */

.title{
    text-align: center;
    padding-top: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1em;
}

.cards{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 3em 10em;
}

/* @media screen and (max-width: 1190px) {
    .first {
        margin: 3em 3em;
    }
    .second {
        margin: 3em 3em;
    }

} */